@import "./notosansjp.scss";
@import "./yakuhanjp.scss";

%reset { padding: 0; margin: 0; }

$fore-color: #eeeeee;
$back-color: #212121;
$fore-theme-color: #81C784;
$back-theme-color: #2E7D32;

$base-root-font-size: 15px;
$base-font-family:
  'YakuHanRP, \"Noto Sans JP\",-apple-system, BlinkMacSystemFont,\"Segoe UI\",\"Roboto\", \"Droid Sans\",\"Helvetica Neue\", Helvetica, Arial, sans-serif';
$v-rhythms: 26px;

$main-width: 740px;

/* Global Layout */

html {
  @extend %reset;
  font-size: $base-root-font-size;  // Set root's font sizing.
  font-family: #{$base-font-family};
  line-height: $v-rhythms;
  letter-spacing: 0.09em;
  font-feature-settings: "palt" on;
  text-align: justify;
  word-wrap : break-word;
  overflow-wrap : break-word;
}

$header-height: 64px;

body {
  @extend %reset;
  background-color: $back-color;
  color: $fore-color;
  padding-top: $header-height + 16px;
}

body > main {
  @extend %reset;
  max-width: $main-width;
  margin: 0 auto;
  padding: 0 16px;
}

body > header {
  @extend %reset;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
  height: $header-height;
  padding-left: 16px;
  background-color: $back-color;
  box-shadow: 0 1px $fore-color, 0 3px $back-color, 0 5px $fore-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    @extend %reset;
    display: inline;
    list-style-type: none;
    font-size: 120%;
    li {
      @extend %reset;
      display: inline;
      margin: 0 16px
    }
  }
  a {
    color: inherit;
  }
}

body > footer::before {
  content: "";
  background-color: $fore-color;
  height: 10px;
  width: 100%;
  mask-image: inline-image("./foot-border.svg");
  -webkit-mask-image: inline-image("./foot-border.svg");
  position: absolute;
  top: 0px;
  left: 0px;
}

body > footer {
  @extend %reset;
  margin-top: ($v-rhythms * 3);
  padding: 10px 32px 0 32px;
  position:relative;
  color: darken($fore-color, 40%);
}

/* Heading */

h1 {
  @extend %reset;
  font-size: 200%;
  line-height: $v-rhythms * 2;
  margin: $v-rhythms 0;
  position: relative;
}
h1::before {
  @extend %reset;
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: -4px;
  background-image:
  repeating-linear-gradient(90deg,
   $fore-color, $fore-color 1px, transparent 1px, transparent 4px);
}
h2 {
  @extend %reset;
  font-size: 150%;
  margin: $v-rhythms 0;
  position: relative;
}
h2::before {
  @extend %reset;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -4px;
  background-image:
  repeating-linear-gradient(90deg,
   $fore-color, $fore-color 1px, transparent 1px, transparent 4px);
}
h3 {
  @extend %reset;
  font-size: 125%;
  margin: $v-rhythms 0;
}
h4 {
  @extend %reset;
  font-size: 112.5%;
  margin: $v-rhythms 0;
}
h5 {
  @extend %reset;
  font-weight: bolder;
  margin: $v-rhythms 0;
}
h6 {
  @extend %reset;
  margin: $v-rhythms 0;
}

/* Paragraph */
p {
  @extend %reset;
  margin: $v-rhythms 0;
  font-feature-settings: "palt" off;
}

hr {
  @extend %reset;
  background-image:
  repeating-linear-gradient(90deg,
    $fore-color,
    $fore-color 12px, transparent 12px,
    transparent 16px, $fore-color 16px, 
    $fore-color 20px, transparent 20px,
    transparent 24px, $fore-color 24px);
  border: none;
  height: 2px;
}

/* Link */

a {
  @extend %reset;
  text-decoration: none;
  color: $fore-theme-color;
}

a:hover {
  text-shadow: 0 0 2px $fore-theme-color;
}

a:visited {
  color: desaturate($fore-theme-color, 20%);

}

a.no-color {
  text-decoration: none;
  color: inherit;
}

a.no-color:visited {
  color: inherit;
}

.typcn {
  font-size: 145%;
}

/* Console */

pre {
  @extend %reset;
  background-color: #000;
  border-radius: 3px;
  line-height: 1.1;
  font-size: 80%;
  padding: 1em;
  overflow-x: auto;
  margin: $v-rhythms 0;
  code {
    padding: 0;
  }
}

code {
  @extend %reset;
  background-color: #000;
  border-radius: 3px;
  font-size: 80%;
  padding: 0.3em;
}

/* Table */
table {
  border-spacing: 4px;
  border-top: 1px $fore-color solid;
  border-bottom: 1px $fore-color solid;
}

tr:not(:last-child) {
  th {
    border-bottom: 3px $fore-color double;
  }
  td {
    border-bottom: 1px mix($fore-color, $back-color, 50%) dotted;
  }
}
tr {
  th {
    padding: 8px 16px;
  }
  td {
    padding: 8px 16px;
  }
}